body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.booklet-section {
  /* display: flex;
  justify-content: center;
  align-items: center;   */
  padding: 40px 10px;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
}


.cover-logo {
  height: 200px;
  width: 300px;
  padding-bottom: 20px;
}
.page {
  height: 500px;
  border: 1px solid black;
  border-radius: 20px;
}
.prev-btn {
  height: 30px;
  width: 30px;
}

.next-btn {
  height: 30px;
  width: 30px;
}

.carousel-control-prev, .carousel-control-next, .carousel-indicators {
  filter: invert(100%);
}

.carousel-indicators {
  visibility: hidden;
}

.login-page {
  display: flex; 
  flex-direction: column;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

@media only screen and (max-width: 800px){
 .componentsNav {
   display: flex;
   flex-direction: column;
 }
 .componentLink {
   padding: 10px 10px;
 }
}

